{{ if hugo.IsProduction }}
  {{ with .Site.Params.fathomAnalytics.site }}
    <script defer src="https://cdn.usefathom.com/script.js" data-site="{{ . }}"></script>
  {{ end }}
  {{ with site.Params.plausibleAnalytics.domain }}
    <script defer
      data-domain="{{ . }}"
      data-api="{{ default "https://plausible.io/api/event" site.Params.plausibleAnalytics.event }}"
      src="{{ default "https://plausible.io/js/script.js" site.Params.plausibleAnalytics.script }}"></script>
  {{ end }}
  {{ with site.Params.umamiAnalytics.websiteId }}
    <script defer
      src="{{ site.Params.umamiAnalytics.scriptSource }}" 
      data-website-id="{{ . }}">
    </script>
  {{ end }}
  {{ with site.Params.matomoAnalytics.endpoint }}
    <script>
      var _paq = window._paq = window._paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="{{ . }}";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '{{ site.Params.matomoAnalytics.ID }}']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
  {{ end }}  
  {{ template "_internal/google_analytics.html" . }}
{{ end }}