{{ with .Params.sharingLinks | default (.Site.Params.article.sharingLinks | default false) }}
  {{ $links := site.Data.sharing }}
  <div class="flex items-center pt-3">
    <div class="flex-grow border-t border-dotted border-neutral-300 dark:border-neutral-600"></div>
    <span class="flex-shrink mx-1 text-sm text-neutral-500 dark:text-neutral-400">{{ i18n "sharing.info" }}</span>
    <div class="flex-grow border-t border-dotted border-neutral-300 dark:border-neutral-600"></div>
  </div>
  <section class="flex flex-row flex-wrap justify-center pt-3 text-xl">
    {{ range . }}
      {{ with index $links . }}
        <a
          class="m-1 inline-block min-w-[2.4rem] rounded p-1 text-center text-neutral-700 hover:bg-primary-500 hover:text-neutral dark:text-neutral-300 dark:hover:bg-primary-400 dark:hover:text-neutral-800 sharing-links"
          href="{{ printf .url $.Permalink $.Title }}"
          title="{{ i18n .title }}"
          aria-label="{{ i18n .title }}"
          target="_blank"
          rel="noopener noreferrer"
          >{{ partial "icon.html" .icon }}</a
        >
      {{ end }}
    {{ end }}
  </section>
{{ end }}
